*{
    color: white;
}
.fullform{
    display: flex;
    height: 100%;
    justify-content: center;
    align-content: center;
    padding-top: 30px;
    max-width: 35%;
    margin: 0 auto;
}
h1{
    margin-bottom: 5px; 
    text-align: center;
}

form{
    /* border: 2px rgb(133, 129, 129) solid; */
    border: 2px yellow solid;
    border-radius: 10px;
}

fieldset{
    margin: 5px;
}

.vertical{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5px;
    margin-right: 3px;
}

.horizontal{
    display: flex;
    justify-content: start;
    margin-top: 3px;
    margin-bottom: 3px;
}





input{
    height: 19px;
    border: 2px white solid;
    border-radius: 2px;
}
label{
    margin-bottom: 3px;
}

.checkboxLabel{
    margin-left: 5px;
    margin-right: 10px;
}

.options{
    margin-left: 15px;
}
select{
    margin-left: 10px;
    width: 150px;
    background-color: grey;
}

.addComm{
    margin-top: 10px;
    margin-bottom: 2px;
    margin-left: 0px;
    padding-left: 0px;
}

textarea{
    width: 300px;
    border: 2px yellow solids;
    border-radius: 5px;
}

.btns{
    display:flex;
    justify-content: space-between;
}
button{
    margin-top: 5px;
    margin-bottom: 5px;
    width: 70px;
    height: 25px;
    border-radius: 10px;
}

.submit-btn{
    margin-left: 50px;
    background-color: rgb(22, 22, 158);
    border: 2px rgb(22, 22, 158) solid;
}

.reset-btn{
    margin-right: 50px;
    background-color: rgb(224, 40, 40);
    border: 2px rgb(224, 40, 40) solid;
}

input, textarea{
    background-color: grey;
}